@font-face {
  font-family: 'toy-train';
  src: url('fonts/toy-train.ttf') format('truetype');
}
body {
  font-size: 100%;
  background-color: #04AEE2;
}
.jumbotron {
  background-color: #D9DEE1;
  color: #333;
}
.jumbotron h1 {
  font-family: 'toy-train';
}
.panel-primary > .panel-heading {
  background-color: #EB4039;
  border: solid 1px #FDD200;
}
#clear-train,
#add-train-btn {
  background-color: #EB4039;
  border: solid 1px #FDD200;
}
.panel,
.panel-primary {
  border: solid 1px #FDD200;
}
