
// Thomas the train theme 
@primary-color: #04AEE2;
@secondary-color:#EB4039;
@train-yellow: #FDD200;
@train-black: #393438;
@train-gray: #D9DEE1;

body {
  background-color: @primary-color;
}
.jumbotron {
  background-color: @train-black;
}

.panel-primary > .panel-heading {
  background-color: @secondary-color;
}

#add-train-btn {
  background-color: @secondary-color;

}
