// Thomas the train theme
@primary-color: #04aee2;
@secondary-color: #eb4039;
@train-yellow: #fdd200;
@train-black: #333;
@train-gray: #d9dee1;

@font-face {
  font-family: 'toy-train';
  src: url('fonts/toy-train.ttf') format('truetype');
}

body {
  font-size: 125%;
  background-color: @primary-color;
  height: 100%;
}
.jumbotron {
  background-color: @train-gray;
  color: @train-black;
}
.jumbotron h1 {
  font-family: 'toy-train';
}

.panel-primary > .panel-heading {
  background-color: @secondary-color;
  border: solid 1px @train-yellow;
}

#clear-train,
#add-train-btn {
  background-color: @secondary-color;
  border: solid 1px @train-yellow;
}

.panel,
.panel-primary {
  border: solid 1px @train-yellow;
}
.footer {
  color: #fff;
  background: @secondary-color;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-text {
  font-size: 125%;
  margin-bottom: 0px;
}
.footer-text a {
  color: #333;
}
